.center{
    margin: auto;
    text-align: center;
    width: 400px;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}