@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.center-logo{
    margin: auto;
    text-align: center;
    width: 288px;
    position: relative;
}


.question-container{
    position: absolute;
    width: 288px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 50px;
    background-color: #f0f0f0;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
    position: absolute;
    
}

.welcome-style{
    font-family: 'MedievalSharp';
    padding: 10px;
}

.question-style{
    font-family: 'Open Sans';
    padding: 10px;
}

.buttons{
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
    margin: auto;
}

.button-style {
    font-family: 'Open Sans';
    background-color: #A86900;
    color: #f8f8f8;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}